
body{
  background: #838B8B;
}
header{
  border-style: solid;
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  background-color: #668B8B;
  color: #003F87;
  font-size: 32px;
}

h2{
  color: #5190ED;
  font-size: 25px;
}
h3 {
  color: #5993E5;
  font-size: 20px;
  text-align: left;
}
p{
  color: #E6E8FA;
  text-align: left;
}
ul{
  text-align: left;
  color:#E6E8FA;
  font-size: 18px;
}
article{
  margin: auto;
  width: 100%;
  border: 3px solid black;
  padding: 10px;
  background-color: #2F4F4F;
  height: 555px;
}
ol{
  display: inline-grid;
  column-count: 2;
  list-style-type: none;
  color:#E6E8FA;
}
